<a href="https://colab.research.google.com/github/rkgupta1/MY-Practice-Set-for-python/blob/main/Practice_Integers%2C_Floats_%26_Booleans.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Division
3/2

1.5

In [1]:
# Division
3/2

1.5

In [ ]:
# Floor Division
7//2

3

In [ ]:
# Exponentiation
2**5

32

In [ ]:
# Modulus= remainder
5%6

5

In [ ]:
#shorting of list
#    lst.short()

In [ ]:
#1 Write a python program to check a given number is perfect or not.

num= int(input())
sum=0
for i in range(1,num):
    if num%i==0:

      sum=sum+i
if(sum==num):
     print('the number is a perfect number')
else:
     print('the number is not a pefect number')

6
the number is a perfect number

In [ ]:
#2 Write a Python program to check whether a String is Palindrome or not?
def Palindrome(s):
  return s==s[::-1]

In [ ]:
s="malayalam"
ans= Palindrome(s)
if ans:
  print('yes')
else:
  print('no')

yes

In [ ]:
#3 Write a python program to remove a given character from string.
str = input()
ch = input()
print(str.replace(ch," "))

abcde
e
abcd

In [ ]:
#4 code for factorial of number 
def factorial(num):
  if num<0:
    print("actorial is not defned")
  elif num>0:
    result=1
    for i in range(1, num+1):
      result=result*i
    print(result)
  else:
     print("factorial of 0 is 1")     
  return

In [ ]:
factorial(-5)

actorial is not defned

In [ ]:
#5 Write a Python program to check whether a number is Palindrome or not?
number=int(input())
temp=number
rev=0
while(number>0):
  dig=number%10
  rev= rev*10 + dig
  number=number//10
if (temp==rev):
  print('pal') 
else:
  print('not')

555
pal

In [ ]:
#6 function Create and call....
def palin(number):
  temp=number
  rev=0
  while(number>0):
   dig=number%10
   rev= rev*10 + dig
   number=number//10
  if (temp==rev):
    print('pal') 
  else:
    print('not') 
  return

In [ ]:
palin(int(input()))

121
pal

In [ ]:
#7.Write a python program to find the last position of a given substring
str1 =input()
substr=input()
index=str1.rfind(substr)
print(index)

my name is my
my
11

In [ ]:
#8.Write a Python program to change the position of every nth value with the (n+1)th in a list.
def change_pos(my_list):
  for i in range(0,len(my_list),2):
    my_list[i],my_list[i+1]=my_list[i+1],my_list[i]
    return my_list

In [ ]:
my_list=[0,1,2,3,4,5]
print(change_pos(my_list))

[1, 0, 2, 3, 4, 5]

In [ ]:
#9 Write a Python program to find common items from two lists.
col1=[]
col2=[]
col1=[item for item in input("enter the element of list1: ").split()]
col2=[item for item in input("enter the element of list2: ").split()]
print(col1)
print(col2)

enter the element of list1: red blue black geen
enter the element of list2: white yellow red green
['red', 'blue', 'black', 'geen']
['white', 'yellow', 'red', 'green']

In [ ]:
col1=input("enter the element of list1: ").split()
col2=input("enter the element of list2: ").split()
col_comm=[]
print(col1)
print(col2)
for i in range(0,len(col1)):
  for j in range(0,len(col2)):
    if col1[i]==col2[j]:
      col_comm.append(col1[i])
print(col_comm)

enter the element of list1: e t l
enter the element of list2: e t o
['e', 't', 'l']
['e', 't', 'o']
['e', 't']

In [ ]:
col1=input("enter the element of list1: ").split()
col2=input("enter the element of list2: ").split()
col_comm=[]
print(col1)
print(col2)
print(set(col1) & set(col2))

In [ ]:
col1=input("enter the element of list1: ")
col2=input("enter the element of list2: ")
col_comm=[]
print(col1)
print(col2)
for i in range(0,len(col1)):
  for j in range(0,len(col2)):
    if col1[i]==col2[j]:
      col_comm.append(col1[i])
print(col_comm)

enter the element of list1: etlk
enter the element of list2: etgh
etlk
etgh
['e', 't']

In [ ]:
#10 Write a Python program to compute the difference between two lists.
#Write a Python program to find a tuple, the smallest second index value from a list of tuples.
x = [(4, 1), (1, 2), (6, 0)]
print(min(x, key=lambda n: (n[1], -n[0])))

(6, 0)

**concept lambda function**

In [ ]:
##Python Lambda Functions are anonymous function means that the function is without a name.
##As we already know that the def keyword is used to define a normal function in Python.
 ## Similarly, the lambda keyword is used to define an anonymous function in Python. 
rev_upper = lambda string: string.upper()[::-1]
def lambda_cube(y): return y*y*y
Max = lambda a, b : a if(a > b) else b
lambda x, y: x + y

In [ ]:
#11 Write a Python program to create a lambda function that adds 15 to a given number passed in as an argument, also create a lambda function that multiplies argument x with argument y and print the result.

r = lambda a : a + 15
print(r(10))
r = lambda x, y : x * y
print(r(12, 4))

25
48

In [ ]:
#12 Write a Python program to filter a list of integers using Lambda.
nums=[]
n=int(input('enter number of element: '))
for i in range(0,n):
  ele=int(input())
  nums.append(ele)
#nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("Original list of integers:")
print(nums)
print("\nEven numbers from the said list:")
even_nums = list(filter(lambda x: x%2 == 0, nums))
print(even_nums)
print("\nOdd numbers from the said list:")
odd_nums = list(filter(lambda x: x%2 != 0, nums))
print(odd_nums)

enter number of element: 5
4
6
3
8
9
Original list of integers:
[4, 6, 3, 8, 9]

Even numbers from the said list:
[4, 6, 8]

Odd numbers from the said list:
[3, 9]

In [ ]:
nums=[]
n=int(input('enter number of element: '))
for i in range(0,n):
  ele=[int(input()),int(input())]
  nums.append(ele)
print("Original list of integers:")
print(nums)

enter number of element: 5
4
6
5
8
3
9
7
6
8
3
Original list of integers:
[[4, 6], [5, 8], [3, 9], [7, 6], [8, 3]]

In [ ]:
nums=[]
nums=[int(item) for item in input("enter the list of item: ").split()]
print(nums)

enter the list of item: 5 6 4 8 9 7
[5, 6, 4, 8, 9, 7]

In [ ]:
nums=[]
nums=[int(item) for item in input("enter the list of item: ").split()]
#nums=input("enter the element of list1: ").split()
print(nums)
print("\nEven numbers from the said list:")
even_nums = list(filter(lambda x: x%2 == 0, nums))
print(even_nums)
print("\nOdd numbers from the said list:")
odd_nums = list(filter(lambda x: x%2 != 0, nums))
print(odd_nums)

In [ ]:
#13 Write a Python program to find whether a given string starts with a given character using Lambda.
starts_with = lambda x: True if x.startswith('P') else False
print(starts_with('Python'))
starts_with = lambda x: True if x.startswith('P') else False
print(starts_with('Java'))

True
False

In [ ]:
#14 Write a Python program to calculate Euclidean Distance.
import math
p1 = [4, 0]
p2 = [6, 6]
distance = math.sqrt( ((p1[0]-p2[0])**2)+((p1[1]-p2[1])**2) )

print(distance)

6.324555320336759

In [ ]:
def distance(x1, y1, x2, y2):
   
  # Calculating distance
   
  return (((x2 - x1)**2 +(y2 - y1)**2)**0.5)
 
# Drivers Code
 
print( distance(4, 0, 6, 6))

6.324555320336759

In [ ]:
import math
 
# Function to calculate distance
def distance(x1 , y1 , x2 , y2):
 
    # Calculating distance
    return math.sqrt(math.pow(x2 - x1, 2) +
                math.pow(y2 - y1, 2) * 1.0)
 
# Drivers Code
print("%.6f"%distance(3, 4, 4, 3))

1.414214

In [ ]:
#15 Write a Python Program to Find Next Prime Number.

In [ ]:
#interview question
ip_list=[1,1,2,3,4,1,5,7]
op=[]
for i in range(0,len(ip_list)-1):
  if ip_list[i]!=ip_list[i+1]:
    op.append(ip_list[i])
#for last element    
if op[-1]!=ip_list[-1]:
   op.append(ip_list[-1])

print(op)

[1, 2, 3, 4, 1, 5, 7]

In [ ]:
#15 Write a Python Program to Find Next Prime Number. prime  number starts wuth 2
def nextprime(n):
  prime=0
  n=n+1

In [ ]:
#16 prime or not:  prime no has only factor 2 1 and their own
n=int(input('enter the number: '))
sum=0
i=1
while(i<=n):
  if n%i==0:
    sum=sum+1
  i=i+1
if sum==2:
  print('prime no')
else:
  print('composite no')

enter the number: 5
prime no

In [ ]:
#16 Write a Python program to swap two number without using third variable.
def swap(x,y):
   x, y = y, x
   return

In [ ]:
x = 5
y = 7
 
print ("Before swapping: ")
print("Value of x : ", x, " and y : ", y)
 
# code to swap 'x' and 'y'
x, y = y, x
 
print ("After swapping: ")
print("Value of x : ", x, " and y : ", y)

Before swapping:
Value of x :  5  and y :  7
After swapping:
Value of x :  7  and y :  5

In [ ]:
x = -5.4
y = -10.3
 
print ("Before swapping: ")
print("Value of x : ", x, " and y : ", y)
 
# Swap code
x = x + y # x = 15.7, y = 10.3
y = x - y # x = 15.7, y = 5.4
x = x - y # x = 10.3, y = 5.4
 
print ("After swapping: ")
print("Value of x : ", x, " and y : ", y)

Before swapping:
Value of x :  -5.4  and y :  -10.3
After swapping:
Value of x :  -10.3  and y :  -5.4

In [ ]:
#17 Write a program in Python to check whether an integer is Armstrong number or not.
num=int(input())
b=len(str(num))
rum=num
sum=0
while num!=0:
  rem=num%10
  sum=sum+(rem**b)
  num=num//10
print(sum)
if sum==rum:
  print('armstong')
else:
  print('no')

153
153
armstong

In [ ]:
#18 Write a Python program to find an integer exponent x such that a^x = n.

In [ ]:
#19 Write a Python program to find the largest negative and smallest positive numbers (or 0 if none).
def test(nums):
    pos = [n for n in nums if n > 0]
    neg = [n for n in nums if n < 0]
    return [max(neg) if neg else 0, min(pos) if pos else 0]   
nums=[-12, -6, 300, -40, 2, 2, 3, 57, -50, -22, 12, 40, 9, 11, 18]
print("List of numbers:",nums)
print("Largest negative and smallest positive numbers (or 0 if none) of the said list:")
print(test(nums))

List of numbers: [-12, -6, 300, -40, 2, 2, 3, 57, -50, -22, 12, 40, 9, 11, 18]
Largest negative and smallest positive numbers (or 0 if none) of the said list:
[-6, 2]

In [ ]:
#20 Write a Python program to find the biggest even number between two numbers inclusive.
def test(m, n):
  lst=[]
  for num in range(m,n+1):
     if num%2==0:    
       lst.append(num)
  #print(lst)
  return(max(lst))

In [ ]:
test(25,29)

28

In [ ]:
#21 Write a Python program to find the largest prime factor of a given number.

In [ ]:
#22 Write a Python program to add the digits of a positive integer repeatedly until the result has a single digit.
def add_digits(num):
        return (num - 1) % 9 + 1 if num > 0 else 0

print(add_digits(48))
print(add_digits(59))

3
5

In [ ]:
#22 Write a Python program to add the digits of a positive integer repeatedly until the result has a single digit.
def add_digits(num):
        return (num - 1) % 9 + 1 if num > 0 else 0

print(add_digits(48))
print(add_digits(59))

3
5

In [ ]:
nums=[]
n=int(input('enter number of element: '))
for i in range(0,n):
  ele=int(input())
  nums.append(ele)
#nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("Original list of integers:")
print(nums)

In [ ]:
#23write a python program find a list of interger with exactly two occurance of nineteen and at least thee occuance of five(interview question)
lst1=[]
sum1=0
sum2=0
n=int(input('entet the number of element of list: '))
for i in range(0,n):
  ele=int(input())
  lst1.append(ele)
print(lst1)
#'''rogram for checking 3 cons15 and 2 16 '''
try:
    for i in range(0,len(lst1)):
      if lst1[i]==15:
        sum1=sum1+1
      elif lst1[i]==19:
        sum2=sum2+1
    if sum1==2 and sum2>=2:
      print('true')
    else:
      print('false')      
except:
  print('wrong input')

entet the number of element of list: 5
15
15
19
19
19
[15, 15, 19, 19, 19]
true

Write a pattern program to print this pattern

Pattern:

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

In [ ]:
#24th question
n=int(input('numbe of row equired: '))
x=0
for i in range(0,n):
  x=x+1
  for j in range(0,i+1):
    print(x,end="")
  print("\r")

numbe of row equired: 6
1
22
333
4444
55555
666666

In [ ]:
n=5
def string_pattern1(n):
  '''This function is to print left triangle with number'''
  try:
    for i in range(1,n+1):
      print(str(i)*i)

  except:
    print("Wrong input")

In [ ]:
#25
def string_pattern(n):
  '''This function is to print left triangle with number'''
  try:
    for i in range(1,n+1):
      print(str(i)* (n+1-i))
  except:
    print("Wrong input")
string_pattern(5)

11111
2222
333
44
5

In [ ]:
n=int(input('number of line requie:' ))
x=0
for i in range(n,0,-1):
  x=x+1
  for j in range(0,i):
    print(x,end="")
  print("\r")

number of line requie:5
11111
2222
333
44
5

In [ ]:
#26 
def palindrome(num):
  '''This function is to check whether given number is palindrome or not'''
  try:
    rev=0
    temp=num
    while num!=0:
      dig=num%10
      rev=rev*10+dig
      num=num//10
    if temp==rev:
      print('{} is a palindrome'.format(temp))
    else:
      print('{} is not a palindrome'.format(temp))
  except:
    print("Wrong input")

palindrome(15651)

15651 is a palindrome

In [ ]:
palindrome('a')

Wrong input

In [ ]:
#27 python code to return list containing squares from 0 to 7
def squares(n):
  '''This function gives list of squares'''
  try:
    list=[]
    for i in range(n+1):
      list.append(i**2)
    print(list)
  except:
    print('Wrong output')

squares(7)

[0, 1, 4, 9, 16, 25, 36, 49]

In [ ]:
start=0
end=7
lis=[]
def squares():
 '''This function is to print  containing squares from 0 to 7'''
try:
    for i in range(start,end+1):
      lis.append(i*i)
    print(lis) 
except:
     print("Wrong input") 
squares()

[0, 1, 4, 9, 16, 25, 36, 49]

In [ ]:
#Write a Python program to find the string consisting of all the words whose lengths are prime numbers.
def test(strs):
    return " ".join(strs for strs in strs.split() if is_prime(len(strs))) 
def is_prime(n):
    return n > 1 and all(n % j for j in range(2, int(n ** 0.5) + 1))
strs = "The quick brown fox jumps over the lazy dog."


print("Original list of numbers:")
print(strs)
print('\r')
print("Words whose lengths are prime numbers in the said string:")
print(test(strs))
strs = "Omicron Effect: Foreign Flights Won't Resume On Dec 15, Decision Later."

Original list of numbers:
The quick brown fox jumps over the lazy dog.

Words whose lengths are prime numbers in the said string:
The quick brown fox jumps the

In [ ]:
#29 string to list conversion
def convert(string):
  li=list(string.split(" "))
  return li
str1="my name is rahul"
convert(str1)

['my', 'name', 'is', 'rahul']

In [ ]:
str1="my name is rahul"
li=list(str1.split())
li

['my', 'name', 'is', 'rahul']

In [ ]:
str1="my"
li=list(str1.split(" "))
li

['my']

In [ ]:
#how to print sting characte ???????? or use append method
string="rahul kumsa"
print([*string])

['r', 'a', 'h', 'u', 'l', ' ', 'k', 'u', 'm', 's', 'a']

In [ ]:
#how to take sting input
kk=input()
kk.split(" ")

my name is rahul

['my', 'name', 'is', 'rahul']

In [ ]:
def pattern(n):
     for i in range(1, n):
         for j in range(1, i + 1):
             print(j**2, end= " ")
         print("\r")
pattern(5)

1
1 4
1 4 9
1 4 9 16

In [ ]:
n=int(input('numbe of row equired: '))
x=0
for i in range(1,n+1):
 #
  for j in range(1,i+1):
    print(i,end="")
  print("\r")

numbe of row equired: 5
1
22
333
4444
55555

In [ ]:
Given a string, the task is to write a Python program to move all the numbers in it to its end. Input : test_str = 'geek2eeks4g1eek5sbest6forall9' Output : geekeeksgeeks

In [ ]:
#Given a string, the task is to write a Python program to move all the numbers in it to its end. 
#Input : test_str = 'geek2eeks4g1eek5sbest6forall9' Output : geekeeksgeeksbestforall241569 Input : test_str = 'geekeeksg1eek5sbest6forall9' Output : geekeeksgeeksbestforall1569 

test_str = 'geek2eeks4g1eek5sbest6forall9'
tset_str1=" "
test_str2=" "
for i in range(0,len(test_str)):
  if test_str[i]== (test_str[i]):
    tset_str1.append(test_str[i])
  else:
    test_str2.append(test_str[i]) 
print('test_str2' + 'tset_str1')

In [ ]:
#Given a string, the task is to write a Python program to move all the numbers in it to its end. 
#Input : test_str = 'geek2eeks4g1eek5sbest6forall9' Output : geekeeksgeeksbestforall241569
def num_last(ip_str):
   t_num = ''.join(i for i in ip_str if i.isnumeric())
   t_str = ''.join(i for i in ip_str if not i.isnumeric()) 
   return t_str+t_num 
   test_str = 'geek2eeks4g1eek5sbest6forall9' 
   print(num_last(test_str))

In [ ]:
test_str = 'geek2eeks4g1eek5sbest6forall9' 
print(num_last(test_str))

geekeeksgeeksbestforall241569

In [ ]:
col1=input("enter the element of list1: ").split()
col1

enter the element of list1: ahul  am eak book

['ahul', 'am', 'eak', 'book']

In [ ]:
words=input("enter the element of list: ").split()
print(words)
def pal(words):
  result=list(filter(lambda X:X=="".join(reversed(x)),words))
  print(result)

In [ ]:
#words=input("enter the element of list: ").split()
words=['nitin','rahul','madam','abba']
print(words)
output=[]
def pal(words):
  for x in words:
    if x.upper()==x[::-1].upper():
      return True
    else:
      return False 
#list(map(pal,words))

['nitin', 'rahul', 'madam', 'abba']

In [ ]:
print(list(map(pal,words)))

[True, True, True, True]

In [ ]:
#words=input("enter the element of list: ").split()
words=['nitin','rahul','madam','abba']
print(words)
def pal(x):
  for x in words:
    if x==x[::-1]:
      return True 
    else:
      return False 
list(map(pal,words))

['nitin', 'rahul', 'madam', 'abba']

[True, True, True, True]

In [ ]:
list(map(pal,words))

[True, True, True, True]

In [ ]:
words=['nitin','rahul','madam','abba']
print(words)
output=[]
for x in words:
  if x.upper()==x[::-1].upper():
    output.append(True)
  else:
    output.append(False) 

print(output)

['nitin', 'rahul', 'madam', 'abba']
[True, False, True, True]

In [ ]:
numbe=[2,3,4,5,6]
def square(x):
  return x*x
list(map(square,numbe))

[4, 9, 16, 25, 36]